@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: calc(0.42vw + 2px);
}

.container {
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}

.bg100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #787878;
}

title {
  font-family: "Noto Serif Khitan Small Script";
}

#wrap {
  width: 100%;
}
#wrap #header {
  position: fixed;
  width: 100%;
  height: 16rem;
  padding: 4rem 5%;
  padding-bottom: 0rem;
  background: #0e3080;
}
#wrap #header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
#wrap #header .container .lang-list {
  display: flex;
  justify-content: center;
}
#wrap #header .container .lang-list > li {
  font-family: "Noto Serif Khitan Small Script";
  margin: 0 1rem;
  font-size: 1.5rem;
}
#wrap #header .container .lang-list > li a {
  display: block;
  position: relative;
  color: #fff;
}
#wrap #header .container .lang-list > li a::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: 0.3s;
  transform: scaleX(0%);
}
#wrap #header .container .lang-list > li a:hover::before {
  transform: scaleX(100%);
}
#wrap #header .container .header-logo {
  display: inline-block;
  height: 2.5rem;
}
#wrap #header .container .header-logo img {
  height: 100%;
}
#wrap #header .container .sns-list {
  display: flex;
}
#wrap #header .container .sns-list li {
  margin-right: 2rem;
}
#wrap #header .container .sns-list li a {
  font-size: 1.8rem;
  color: #fff;
}
#wrap #header .nav {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  #wrap #header .nav.nav {
    display: none;
  }
}
#wrap #header .nav .container {
  width: 100%;
  justify-content: space-between;
}
#wrap #header .nav .container .menu-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9rem;
  padding-top: 3rem;
  align-items: center;
}
#wrap #header .nav .container .menu-list .depth1 {
  font-family: "Noto Serif Khitan Small Script";
  font-size: 2rem;
  margin-left: 3rem;
}
#wrap #header .nav .container .menu-list .depth1 > a {
  display: block;
  color: #fff;
  height: 100%;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1:hover .menuBg {
  display: flex;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg {
  box-sizing: border-box;
  display: none;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 5%;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #ddd;
  z-index: 1;
  width: 35.1%;
  display: inline-block;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner {
  display: flex;
  width: 85%;
  padding: 0 1rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area {
  width: 30%;
  z-index: 2;
  padding: 3rem 5rem 5rem 0;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area p {
  font-size: 1.5rem;
  color: #787878;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area .txt-more {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.5rem;
  transition: 0.5s;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area .txt-more i {
  transition: 0.5s;
  padding-left: 0.2rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area .txt-more:hover {
  color: #0e3080;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .menu-txt-area .txt-more:hover i {
  padding: 0 0.6rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .depth2-list {
  display: flex;
  justify-content: start;
  width: 70%;
  padding: 5rem 10rem 0 10rem;
  z-index: 2;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .depth2-list > li {
  margin-right: 5rem;
  padding: 1rem 0;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .depth2-list > li > a {
  display: block;
  margin-bottom: 2rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .depth2-list > li ul li {
  padding: 0.5rem;
}
#wrap #header .nav .container .menu-list .depth1.depth1-1 .menuBg .menuInner .depth2-list > li ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #464646;
}/*# sourceMappingURL=style.css.map */