html{font-size: calc(0.42vw + 2px);}
.container{width: 100%; max-width: 1440px; padding: 0 5rem;}
#wrap{
    width: 100%;
    #header{
        width: 100%;
        background: #000;
        .nav{
            display: flex;
            justify-content: center;
            width: 100%;
            .menu-list{
                display: flex;
                justify-content: space-between;
                .depth1{
                    font-size: 2.5rem;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    #main{

    }
    #footer{

    }
}